@using IMRepo.Models.Domain;
@model IEnumerable<IMRepo.Models.Domain.ProjectFunding>?
@{
    ViewData["Title"] = "Fuentes de Financiamiento";
    ViewBag.WorkingInProject = true;
}

<form asp-action="Index" asp-controller="ProjectFunding" method="get" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-bufferedUrl="@ViewBag.bufferedUrl" >
    @await Html.PartialAsync("/Views/Shared/JaosLib/_SearchBox.cshtml", Model?.Count(), ViewData)
    <a asp-area="" asp-controller="ProjectFunding"  asp-action="Create" asp-route-projectId=@ViewBag.projectId class="btn btn-clear float-end" asp-route-bufferedUrl=@ViewBag.returnUrl><i class="bi-plus"></i> Crear  Fuente de Financiamiento</a>
    @if (Model != null && Model.Any())
    {

        <!-- select ProjectFunding table -->
        <table class="table select-table">
            <caption>Tabla para seleccionar Fuente de Financiamiento</caption>
            <thead>
                <tr>
                    <th>
                        <a href=@Url.Action("Index", "ProjectFunding", new { sortOrder = @ViewBag.sourceSort})>
                            @Html.DisplayNameForInnerType((ProjectFunding s) => s.Source) <i class=@ViewBag.sourceIcon></i>
                        </a>
                    </th>
                    <th>
                        <a href=@Url.Action("Index", "ProjectFunding", new { sortOrder = @ViewBag.valueSort})>
                            @Html.DisplayNameForInnerType((ProjectFunding s) => s.Value) <i class=@ViewBag.valueIcon></i>
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Count() > 0)
                {
                    @foreach (var projectFunding in Model)
                    {
                        <tr>
                            <td class="sel-row">
                                <a asp-action="Edit" asp-route-id="@projectFunding.Id" asp-route-projectId=@ViewBag.projectId asp-route-bufferedUrl=@ViewBag.returnUrl>
                                    @if (projectFunding.Source_info != null)
                                        @Html.DisplayFor(modelItem => projectFunding.Source_info.Name)
                                </a>
                            </td>
                            <td class="sel-row">
                                <a asp-action="Edit" asp-route-id="@projectFunding.Id" asp-route-projectId=@ViewBag.projectId asp-route-bufferedUrl=@ViewBag.returnUrl>
                                    @Html.DisplayFor(modelItem => projectFunding.Value)
                                </a>
                            </td>
                            <td class="sel-row">
                                <a asp-action="Edit" asp-route-id="@projectFunding.Id" asp-route-projectId=@ViewBag.projectId asp-route-bufferedUrl=@ViewBag.returnUrl class="btn nav-link">
                                    <i class="bi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        @if (string.IsNullOrEmpty(ViewBag.searchText))
        {
            <h3 class="alert">@string.Format(JaosUITitles.searchListEmpty,ModelsTexts.ProjectFunding.titlePlural)</h3>
        }
        else
        {
            <h3 class="alert">@string.Format(JaosUITitles.searchResultEmpty, ModelsTexts.ProjectFunding.titlePlural, @ViewBag.searchText)</h3>
        }
    }
</form>
@await Html.PartialAsync("/Views/Shared/JaosLib/_ListViewFooter.cshtml",ViewData)
