@using IMRepo.Models.Domain;
@model IEnumerable<IMRepo.Models.Domain.FundingAgency>?
@{
    ViewData["Title"] = "Entidades Financiadoras";
}

<form asp-action="Index" asp-controller="FundingAgency" method="get" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-bufferedUrl="@ViewBag.bufferedUrl" >
    @await Html.PartialAsync("/Views/Shared/JaosLib/_SearchBox.cshtml", Model?.Count(), ViewData)
    <a asp-area="" asp-controller="FundingAgency"  asp-action="Create" class="btn btn-clear float-end" asp-route-bufferedUrl=@ViewBag.returnUrl><i class="bi-plus"></i> Crear  Entidad Financiadora</a>
    @if (Model != null && Model.Any())
    {

        <!-- select FundingAgency table -->
        <table class="table select-table">
            <caption>Tabla para seleccionar Entidad Financiadora</caption>
            <thead>
                <tr>
                    <th>
                        <a href=@Url.Action("Index", "FundingAgency", new { sortOrder = @ViewBag.nameSort})>
                            @Html.DisplayNameForInnerType((FundingAgency s) => s.Name) <i class=@ViewBag.nameIcon></i>
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Count() > 0)
                {
                    @foreach (var fundingAgency in Model)
                    {
                        <tr>
                            <td class="sel-row">
                                <a asp-action="Edit" asp-route-id="@fundingAgency.Id" asp-route-bufferedUrl=@ViewBag.returnUrl>
                                    @Html.DisplayFor(modelItem => fundingAgency.Name)
                                </a>
                            </td>
                            <td class="sel-row">
                                <a asp-action="Edit" asp-route-id="@fundingAgency.Id" asp-route-bufferedUrl=@ViewBag.returnUrl class="btn nav-link">
                                    <i class="bi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        @if (string.IsNullOrEmpty(ViewBag.searchText))
        {
            <h3 class="alert">@string.Format(JaosUITitles.searchListEmpty,ModelsTexts.FundingAgency.titlePlural)</h3>
        }
        else
        {
            <h3 class="alert">@string.Format(JaosUITitles.searchResultEmpty, ModelsTexts.FundingAgency.titlePlural, @ViewBag.searchText)</h3>
        }
    }
</form>
@await Html.PartialAsync("/Views/Shared/JaosLib/_ListViewFooter.cshtml",ViewData)
